<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab Principal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="hello">Hello World {{name}}</h1>
  <div>
    <div class="todoCard" *ngFor="let item of todos ">
      <h3>{{item.id}}</h3>
      <p>{{item.title}}</p>
      <span>{{item.prioridad}}</span>
    </div>
  </div>
  <div>{{todo.title}}</div>
  <app-explore-container name="Tab principal"></app-explore-container>
</ion-content>
